.azul {
	background-color: rgb(17,37,120);
	text-align: center;
	height: 29px;
}

.azul span {
	color: rgb(255, 255, 0);
}

.amarillo {
	background-color: rgb(255, 204, 0);
	color:rgb(17,37,120);
}

.ultima {
	border-top: 1px solid rgb(170,170,170); 
	border-bottom: 1.5px solid rgb(255, 204, 0); 
	text-align: left; 
	width: 1267px;
	height: 33px;
}